@{
    ViewData["Title"] = "Employee Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Management</h1>
    <p class="h2">Developed by D23IT182 DHRUVAL MANIYAR</p>
    <p class="h3">Explore the features below:</p>
    <ul class="list-inline bg-warning">
        <li>
            <a asp-action="Index" asp-controller="Employee" target="_blank">View Employee List</a>
        </li>
        <li>
            <a asp-action="Create" asp-controller="Employee" target="_blank">Add New Employee</a>
        </li
    </ul>
</div>
